@import 'settings';

.app {
  text-align: center;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

html,
body {
  font-family: $font-family;
  background-color: #fcfbee;
}

.footer {
  height: $footer-height;
  font-size: $font-size--smallest;

  &__divider {
    margin: 0 0.5rem;
  }

  &__social {
    .social-icon {
      width: 1.5rem;
      height: 1.5rem;
      padding: $item-padding;
      margin: $item-padding;
      color: #2d2824;
      opacity: 0.9;
      &:hover {
        transform: scale(1.2);
        opacity: 1;
        -webkit-transition: transform 0.1s ease-in-out;
        -moz-transition: transform 0.1s ease-in-out;
        -o-transition: transform 0.1s ease-in-out;
        transition: transform 0.1s ease-in-out;
      }
    }
  }
}

.linked-in-icon {
  &:hover {
    color: #0077b5;
  }
}

.github-icon {
  &:hover {
    color: #171515;
  }
}

.twitter-icon {
  &:hover {
    color: #1da1f3;
  }
}

.youtube-icon {
  &:hover {
    color: #ff0000;
  }
}

.twitch-icon {
  &:hover {
    color: #9146ff;
  }
}

.soundcloud-icon {
  &:hover {
    color: #fd600a;
  }
}
