// Font
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Regular.woff') format('woff');
  src: url('/fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$font-family: 'Nunito', 'Helvetica', 'Arial', 'sans-serif';
$font-size--base: 1rem;
$font-size--small: 0.85rem;
$font-size--smallest: 0.7rem;

// Layout
$content-width: 50rem;
$footer-height: 10rem;
$item-padding: 0.1rem;
